$white: #ffffff;
$black: #000000;

$gray1: #f8f8f8;
$gray1a: #eeeeee;
$gray2: #9f9f9f;
$gray3: #707070;

$color1: #f1b705;
$color2: #319ea2;
$color3: #598fb6;
$color4: #8d638d;

$red: #d4003d;
$rgb-red: rgb(212, 0, 61);
$purple: #8d638d;
$green: #319ea2;
$yellow: #f1b705;
$blue: #598fb6;
