.contact-map {
  font-family: "Tide Sans";
  font-size: 1.8rem;
  font-weight: 300;

  @media (max-width: 1200px) {
    font-size: 1.6rem;
  }
  @media (max-width: 600px) {
    font-size: 1.4rem;
  }

  &-wrapper {
    margin-bottom: 100px;
  }

  &__region {
    font-size: 2rem;
    font-weight: 500;
    background-color: $red;
    padding: 15px 30px 15px 15px;
    color: $white;
    display: inline-block;

    @media (max-width: 767px) {
      font-size: 1.6rem;
      padding: 10px 15px 10px 10px;
    }

    @media (max-width: 500px) {
      font-size: 1.2rem;
      padding: 10px 15px 10px 10px;
    }

    &:hover,
    &:visited &:link {
      color: $white;
      text-decoration: none;
    }

    &::before {
      content: "";
      width: 0.75em;
      height: 0.2em;
      background-color: $white;
      position: relative;
      display: inline-block;
      top: 0.15em;
      margin-right: 0.2em;
    }

    &--link {
      position: absolute;
    }

    &--link1 {
      top: 50%;
      left: 10%;
    }

    &--link2 {
      top: 15%;
      left: 32%;
    }

    &--link3 {
      top: 45%;
      right: 11%;
    }

    &--link4 {
      bottom: 17%;
      right: 26%;
    }

    &--target {
      margin-bottom: 25px;
    }
  }

  &__contact-row {
    padding: 45px 0;
  }

  &-person {
    &__details {
      margin-bottom: 2rem;
      word-break: break-all;
      display: flex;
    }
    &__name {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 0;
      @media (max-width: 1200px) {
        font-size: 1.6rem;
      }
      @media (max-width: 600px) {
        font-size: 1.4rem;
      }
    }

    &__role {
      margin-bottom: 2.5rem;
    }

    &__icon {
      margin-right: 3rem;
    }

    &__email {
      &--link {
        color: $red;
        &:hover,
        &:visited,
        &:link {
          color: $red;
          text-decoration: none;
        }
      }
    }
  }
  &-person + &-person {
    @media (max-width: 991px) {
      margin-top: 30px;
    }
  }
}
