.home-news-section {
    background-color: $gray1;

    .row>div {
        padding: 5rem 0;

        @media(max-width: 576px) {
            padding-left: 2rem !important;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__heading {
        flex-basis: 40%;

        h4 {
            font: 500 5.7rem/7.6rem 'Tide Sans';
            margin: 0;

            @media(max-width: 576px) {
                font: 500 4rem/7.6rem 'Tide Sans';
            }
        }

        a {
            margin-top: 2rem;
            font: 400 1.8rem/2.6rem 'Tide Sans';
        }
    }

    &__news {
        flex-grow: 1;
        display: flex;
        flex-direction: row !important;

        @media(max-width: 576px) {
            flex-direction: column !important;
        }

        justify-content: space-between !important;
        max-width: 100%;

        &>div {
            flex-basis: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            a {
                font: 500 1.6rem/2.6rem 'Tide Sans';
            }

            @include line-centered (25px, left, -35px, 10px, 5px, $black);

            span {
                font: 300 1.2rem/2.6rem 'Tide Sans';
            }
        }

        &>div:nth-of-type(2) {
            @media(max-width: 576px) {
                margin-top: 4rem;
            }
        }
    }
}