.hp-slider {
  padding: 0;

  .splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
    border: none;
  }

  .hp-slides {
    width: 100%;

    .hp-slide {
      // overflow: hidden;
      max-height: 1500px;
      transition: all 0.3s ease;

      &.hp-slide--color1 {
        .hp-slide__heading-box {
          background-color: $color1;
        }
      }
      &.hp-slide--color2 {
        .hp-slide__heading-box {
          background-color: $color2;
        }
      }
      &.hp-slide--color3 {
        .hp-slide__heading-box {
          background-color: $color3;
        }
      }
      &.hp-slide--color4 {
        .hp-slide__heading-box {
          background-color: $color4;
        }
      }

      .hp-slide-content {
        .hp-slide__heading-box {
          padding: 2.7rem 1.7rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          h3 {
            color: $white;
            font-size: 2.8rem;
            text-align: center;
            font-family: "Tide Sans";
            font-weight: 500;
            position: relative;
            margin: 0 0 4rem 0;

            &:before {
              content: "";
              width: 1.3rem;
              height: 0.4rem;
              background-color: $white;
              position: relative;
              display: block;
              top: 32px;
              left: -14px;
            }
          }

          p {
            color: $white;
            font-size: 1.4rem;
            line-height: 2.6rem;
            text-align: left;
            font-family: "Tide Sans";
            font-weight: 400;
            position: relative;
            margin: 0 0 1.7rem 0;
          }

          a {
            color: $white;
            font-size: 1.8rem;
            line-height: 2.6rem;
            text-align: left;
            font-family: "Tide Sans";
            font-weight: 400;
            position: relative;
            margin: 2rem 0 0 0;
            text-transform: uppercase;
            padding-right: 25px;
            background: url("../../images/ionic-ios-arrow-white.svg") no-repeat center right;
          }
        }

        .hp-slide__image {
          img {
            max-width: 100%;
          }
        }

        .hp-slide__list {
          margin: auto 1.7rem auto 2.3rem;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          max-width: 768px;
          align-items: center;

          .hp-slide__list-item {
            color: $black;
            font-size: 1.8rem;
            line-height: 2.6rem;
            font-family: "Tide Sans";
            font-weight: 400;
            position: relative;
            margin: 0 0 1.7rem 0;
            width: 100%;

            &:before {
              content: "";
              width: 0.8rem;
              height: 0.2rem;
              background-color: $black;
              position: relative;
              display: block;
              top: 22px;
              left: -9px;
            }
          }
        }
      }
    }
  }

  .hp-slider__bottom {
    display: none;
  }

  @media (min-width: 1200px) {
    margin-left: 4%;
    position: relative;

    .hp-slides {
      z-index: 2;
      position: relative;

      .hp-slide {
        transition: all 0.6s ease;
        position: absolute;
        opacity: 100%;
        position: absolute;
        left: 0;
        top: 0;
        flex-basis: 55rem;
        max-width: 55rem;
        position: relative;
        z-index: 2;

        &.hp-slide--color1 {
          .hp-slide__heading-box {
            background-color: $color1;
          }
        }
        &.hp-slide--color2 {
          .hp-slide__heading-box {
            background-color: $color2;
          }
        }
        &.hp-slide--color3 {
          .hp-slide__heading-box {
            background-color: $color3;
          }
        }
        &.hp-slide--color4 {
          .hp-slide__heading-box {
            background-color: $color4;
          }
        }

        .hp-slide__heading-box {
          padding: 3rem 5rem;
          align-items: start;

          h3 {
            font-size: 4.9rem;
            font-weight: 600;

            &:before {
              width: 3rem;
              height: 0.7rem;
              left: -5rem;
              top: 5.3rem;
            }
          }
        }
      }

      &__image {
        display: none;
      }
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 11.5rem;

    &-inner {
      height: 11rem;
      margin-left: 550px;
      overflow: hidden;
      height: 100%;
      position: relative;
      left: -23rem;
      z-index: 2;

      .splide__track {
        height: 100%;

        .hp-slider__nav-links {
          height: 100%;
          display: flex;
          justify-content: center;

          li {
            font-size: 2.4rem;
            color: $black;
            line-height: 2.6rem;
            font-family: "Tide Sans";
            font-weight: 400;
          }
        }
      }
    }
  }

  .hp-slider__bottom {
    display: block;
    position: absolute;
    top: 11.5rem;
    left: 47rem;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;

    .hp-slider__bottom-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      top: 13rem;
    }

    &-line {
      li {
        background-color: $black;
        width: 4rem;
      }
    }
  }
} //@media (min-width: 1200px){
