.image-top {
  &-section {
    margin-top: 55px;
      &__info{
          position: absolute;
          border-bottom: 0;
          width: 30%;
          padding: 30px 15px;
          background-color: $white;
          bottom: 0;
          right: 15px;
          text-align: center;
          @media (max-width: 1200px) {
            padding: 15px 30px;
            width: 35%;
          }
      }
  }

}
