.image-slideshow{

    &-control{

        &__wrapper {
            position: relative;
            padding: 20px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
        }

        &__num{
            font-size: 2.4rem;
            color:  $black;
            font-family: "Tide Sans";
            font-weight: 500;
            padding: 0 25px;
        }

        &__separator{
            color: rgba($black, 0.5);
            padding: 0 20px;
        }

        &__value {
            min-width: 40px;
            display: inline-block;
            text-align: center;
        }


        &__item {
            opacity: 0.5;
            transition: all 0.6s ease;
            
            &:hover{
                opacity: 1;
            }
        }
    }
}