:root {
    --marginTopMenu: 2rem;
    --marginMainMenu: 3.5rem;
}

.main-navigation {
    &--gray-background {
        background-color: $gray1;
    }

    &__col--1 {
        padding-top: calc(var(--marginTopMenu) + var(--marginMainMenu));
    }

    &__col--2 {
        &__menu-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-top: var(--marginTopMenu);

            &--1 {
                ul {
                    display: flex;
                    justify-content: flex-end;

                    a {
                        text-decoration: none;
                        font: 300 1.6rem/2.1rem "Tide Sans";
                        color: $gray3;
                        transition: 0.2s linear;
                        margin-right: 2rem;
                        text-transform: lowercase;
                    }

                    a:hover {
                        color: $black;
                    }
                }
            }

            &--2 {
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding-top: var(--marginMainMenu);

                ul {
                    display: flex;
                    justify-content: flex-end;

                    a {
                        text-decoration: none;
                        font: 400 2rem/2.7rem "Tide Sans";
                        color: $black;
                        transition: 0.2s linear;
                        margin-right: 2rem;
                        text-transform: lowercase;
                    }

                    a:hover {
                        color: $gray3;
                    }
                }
            }
        }

        &__mobile-menu {
            display: none;
        }
    }
}

// First break-point
@media (max-width: 1430px) {
    .main-navigation {
        &__col--2__mobile-menu {
            .hamburger__container {
                &__menu--1 ul {
                    a {
                        font: 400 3rem/5rem "Tide Sans";
                    }
                }

                &__menu--2 ul {
                    margin-top: 3rem;

                    a {
                        font: 400 2.6rem/4.7rem "Tide Sans";
                    }
                }
            }
        }
    }
}

// Mobile version
@media (max-width: 1280px) {
    .main-navigation {
        &__col--2 {
            &__menu-container {
                display: none;
            }

            &__mobile-menu {
                display: flex;

                .hamburger__container {
                    display: flex;
                    flex-direction: column;

                    &__menu--1 ul {
                        a {
                            font: 400 2.6rem/4rem "Tide Sans";
                        }
                    }

                    &__menu--2 ul {
                        a {
                            font: 400 1.6rem/3.5rem "Tide Sans";
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main-navigation {
        &__col--1 img {
            margin-left: 2rem;
        }

        &__col--2 {
            &__mobile-menu .outer-menu {
                margin-right: 2rem;
                margin-bottom: -1rem;

                input:hover {
                    background: none;
                }

                .hamburger__container--2 li {
                    margin: 0.5rem !important;
                }
            }
        }
    }
}
