.page-title-breadcrumbs {
  background-color: $gray1;
  padding: 4rem 0 4rem;

  @media (min-width: 768px) {
    padding: 6rem 0 6rem;
  }

  @media (min-width: 992px) {
    padding: 8rem 0 8rem;
  }

  @media (min-width: 1540px) {
    padding: 12rem 0 7rem;
  }

  &__breadcrumbs {
    margin: 0 0 1rem 0;

    @media (min-width: 768px) {
      margin: 0 0 2rem 0;
    }

    @media (min-width: 992px) {
      margin: 0 0 4rem 0;
    }

    @media (min-width: 1540px) {
      margin: 0 0 8rem 0;
    }

    a,
    span {
      font-family: "Tide Sans";
      font-weight: 300;
      font-size: 1.4rem;
      color: $gray2;
      margin: 0;
    }
  }

  &__title {
    font-family: "Tide Sans";
    font-weight: 500;
    color: $black;
    margin: 0;
    position: relative;
    font-size: 3.2rem;
    line-height: 4rem;

    @media (min-width: 992px) {
      font-size: 4.2rem;
      line-height: 5rem;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 1.6rem;
      left: -74rem;
      width: 70rem;
      height: 1rem;
      background-color: $black;
    }
  }
}
