.page-enter-text-section {
    padding: 10rem 0;

    &__text {
        margin: 0 4rem;
        font: 300 1.8rem/2.6rem 'Tide Sans';
        color: $black;

        @media (min-width: 768px) {
            margin: 0 14rem;
        }
    }
}