.page-simple-text {
  padding: 2rem 0;

  @media (min-width: 768px) {
    padding: 4rem 0;
  }
  @media (min-width: 992px) {
    padding: 6rem 0;
  }
  @media (min-width: 1200px) {
    padding: 8rem 0;
  }

  @media (min-width: 1540px) {
    padding: 10rem 0;
  }

  p,
  ul li,
  a,
  ol li {
    font-family: "Tide Sans";
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.7;
    color: $black;
  }

  p {
    margin-bottom: 1.6rem;
  }
}
