.sub-ofert-title-image {
    background-color: $gray1;
    padding: 5rem 0 0;

    .col {
        @media(max-width: 540px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #fff;
        }
    }

    img:nth-of-type(1) {
        width: 100%;
        position: relative;
    }

    img:nth-of-type(2) {
        position: absolute;
        background-color: #fff;
        padding: 6rem;
        bottom: 0;
        right: 0;

        @media(max-width:1200px) {
            padding: 2rem;
        }

        @media(max-width: 992px) {
            padding: 2rem;
            max-width: 200px;
        }

        @media(max-width: 540px) {
            position: initial;
            max-width: 225px;
            margin: 0 auto;
        }
    }
}