/// bootsrap 4 nav custom name styles

.tabs-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 1px solid rgba($black, 0.4);

  &__link {
    transition: all 0.6s ease;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Tide Sans";
    display: block;
    padding: 5px 25px 5px 0;
    min-height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    @media (max-width: 1579px) {
        min-height: 60px;
    }
    @media (max-width: 1200px) {
       font-size: 1.6rem;
    }
    @media (max-width: 600px) {
       font-size: 1.2rem;
       min-height: 40px;
       padding-right: 15px;
    }

    @include hover-focus {
      text-decoration: none;
    }

    // Disabled state lightens text
    &.disabled {
      color: $nav-link-disabled-color;
      pointer-events: none;
      cursor: default;
    }


    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }

    &-text::before {
        content: "";
        width: 18px;
        height: 4px;
        background-color: transparent;
        position: relative;
        display: inline-block;
        top: 0.15em;
        margin-right: 6px;
        transition: all 0.6s ease;
    }

    &:hover {
      color: $red;
    }
  }

  &__link.active,
  &__item.show a#{&}__link {
    color: $red;
    &:hover {
      color: $red;
    }
  }

  &__link.active {
    .tabs-list__link-text::before {
        background-color: $red;
    }
  }
}

.tabs-list__content {
    font-size: 2rem;
    font-weight: 300;
    font-family: "Tide Sans";
    @media (max-width: 1200px) {
        font-size: 1.6rem;
     }
     @media (max-width: 600px) {
        font-size: 1.2rem;
     }
 

  > .tabs-list__pane {
    display: none;
  }
  > .active {
    display: block;
  }
}
