ul.breadcrumbs {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    li:after, a {
        text-transform: lowercase;
        font: 300 1.4rem/2.6rem "Tide Sans";
        // margin-right: 15px;
        word-break: keep-all;
        color: $gray2;
    }
    li{
        &:after{
            content: "|";
            display: inline-block;
            padding-left: 0.7rem;
            padding-right: 0.7rem;
        }
        &:last-child:after{
            display: none;
            content: none;
        }
    }
}

