.light-box {
    width: 85vw;
    max-width: 1600px;
    height: 85vh;
    background-color: $white;

    &__wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow-y: scroll;
    }

    &__container--1 {
        height: 100%;

        @media(max-width: 1140px) {
            width: 100%;
            height: initial;
        }

        width: 40%;
        display: flex;
        flex-direction: column;

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px !important;

            @media(max-width: 1140px) {
                height: 100px !important;
            }
        }
    }

    &__container--2 {
        width: 55%;

        @media(max-width: 1140px) {
            width: 100%;
        }

        display: flex;
        flex-direction: column;
    }
}

.lity-close {
    position: absolute !important;
    background: $black !important;
    width: 60px !important;
    height: 60px !important;
}