section {
  &.gray-background {
    background-color: $gray1;
    padding: 2rem 0;

    @media (min-width: 768px) {
      padding: 4rem 0;
    }
    @media (min-width: 992px) {
      padding: 6rem 0;
    }
    @media (min-width: 1200px) {
      padding: 8rem 0;
    }

    @media (min-width: 1540px) {
      padding: 10rem 0;
    }

    .gray-background__content {
      max-width: 1190px;
      margin: 0 auto;
      display: block;

      p {
        font: 300 18px/26px "Tide Sans";
        margin-bottom: 3rem;

        @media (min-width: 992px) {
          margin-bottom: 5.5rem;
        }

        @media (min-width: 1200px) {
          margin-bottom: 6rem;
        }
      }
    }
  }

  .container {
    &.width-1190 {
      @media (min-width: 1540px) {
        max-width: 1190px;
      }
    }
  }
}
